body {
    background-color:aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(4, 98, 98);
    font-size: 20px; 
    border: 0.5rem outset rgb(131, 26, 89);
    outline: 0.5rem solid rgb(4, 98, 98);
    box-shadow: 0 0 0 2rem rgb(70, 29, 182);
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
}

.question-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: rgb(4, 98, 98);
   
    
 
}

.hide {
    display: none;

}


main {
    color:rgb(4, 98, 98);
    font-size: 40px;
 


}

.time {
    border-radius: 5px;
    border-color: rgb(131, 26, 89);
    color: rgb(4, 98, 98);
    font-size: 50px;
    
}


.option {
    font-size: 25px;
    display: grid;
}

button {
    background-color: rgb(70, 29, 182);
    color: whitesmoke;
    font-weight: bold;
    align-items:center;
    font-size: 20px;
    border: 0.5rem outset rgb(70, 29, 182);
    outline: 0.5rem solid rgb(131, 26, 89);
    box-shadow: 0 0 0 2rem rgb(4, 98, 98);
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
}
.correct-incorrect-container {
    border: 0.5rem outset rgb(131, 26, 89);
    outline: 0.5rem solid rgb(4, 98, 98);
    box-shadow: 0 0 0 2rem rgb(70, 29, 182);
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;

   
}
.score {
    border: 0.5rem outset rgb(70, 29, 182);
    outline: 0.5rem solid rgb(131, 26, 89);
    box-shadow: 0 0 0 2rem rgb(4, 98, 98);
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: rgb(4, 98, 98);
    display: block;

}
section {
    text-align: center;
  
}